@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;400;700&display=swap');

:root{
    --verde: #52d600;
    --negro: #000;
    --blanco: #fff;
    --borde: .2rem solid var(--negro);
    --shadow: 0 1rem 1.5rem rgba(0,0,0,.3);
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    border: none; outline: none;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Stick No Bills', sans-serif;
    cursor: none;
}
*:active > .cursor{
   transform: translateX(-40%) rotate(-45deg);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: var(--negro);
}
html::-webkit-scrollbar-thumb{
    background: var(--verde);
    border-radius: 5rem;
    border: .2rem solid var(--negro);
}
body{
    background: var(--verde);
    overflow: hidden;
}
section{
    padding: 5rem 10%;
}
/* cursor editado */
.cursor{
    position: absolute;
    height: 6rem;
    pointer-events: none;
    top: -5rem; left: -5rem;
    transform: translateX(-40%);
    z-index: 10000;
}
.heading{
    text-align: center;
    font-size: 7vw;
    color: var(--blanco);
    -webkit-text-stroke: .2rem var(--negro);
    margin-bottom: 3rem;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--verde);
    border: var(--borde);
    color: var(--negro);
    font-size: 2rem;
    border-radius: .5rem;
}
.btn:hover{
    background: var(--blanco);
}
.header{
    padding: 1.5rem 10%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background: var(--verde);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logo{
    font-size: 2.5rem;
    background: linear-gradient(180deg, #1d00ff 30%, #ff0014);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bolder;
}
.header #menu-btn{
    height: 5rem;
    width: 5rem;
    line-height: 4.7rem;
    border-radius: 50%;
    border: var(--borde);
    font-size: 4rem;
    text-align: center;
    box-shadow: var(--shadow);
}
.header #menu-btn:hover{
    background: var(--negro);
    color: var(--verde);
    box-shadow: none;
}
.navbar{
    position: fixed;
    bottom: 0; left: -110%;
    height: calc(100% - 8rem);
    width: 50%;
    z-index: 1000;
    background: var(--negro);
    padding: 0 9%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: .2s linear;
}
.navbar.active{
    left: 0;
}
.navbar a{
    font-size: 5.5rem;
    color: var(--blanco);
    transition: .2s linear;
}
.navbar a:hover{
    background: var(--verde);
    font-size: 4rem;
    transform: scale(.9);
    color: var(--negro);
    padding: .5rem 2rem;
}
.navbar-img{
    position: fixed;
    bottom: 0; right: -110%;
    height: calc(100% - 8rem);
    width: 50%;
    z-index: 1000;
    transition: .5s linear;
}
.navbar-img.active{
    right: 0;
}
.navbar-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.home{
    margin-top: 8rem;
    position: relative;
    padding-bottom: 35rem;
}
.home h3{
    text-align: center;
    font-size: 6vw;
}
.home .home-text{
    -webkit-text-stroke: .3rem var(--negro);
    color: var(--verde);
    position: relative;
    z-index: 10;
}
.home .home-img{
    position: absolute;
    top: 0; left: 0;
    transform: translate(-50%, -70%) scale(0);
    transition: .2s linear;
    pointer-events: none;
    height: 40rem;
    width: 40rem;
    object-fit: cover;
    border-radius: .5rem;
}
.home .home-text:hover{
    text-shadow: var(--shadow);
}
.home .home-text:hover ~ .home-img{
    transform: translate(-50%, -70%) scale(1);
}
/*efecto de olas*/
.home .wave{
    position: absolute;
    bottom: 0; left: 0;
    height: 30rem;
    width: 100%;
    background: url(../img/wave.png) repeat-x;
    background-size: 250rem 30rem;
    animation: wave 10s linear infinite;
}
@keyframes wave{
    0%{
        background-position-x: 0; 
    }
    0%{
        background-position-x: -250rem; 
    }
}
.home .wave.wave-2{
    opacity: .3;
    animation-delay: .2s;
    animation-direction: reverse;
}
.home .wave.wave-3{
    opacity: .6;
    animation-duration: 5s;
}
.about{
    background: var(--negro);
}
.about .skill{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.about .skill .title{
    font-size: 3rem;
    color: var(--verde);
    text-align: center;
    padding-bottom: 1rem;
}
.about .skill .box{
    flex: 1 1 41rem;
}
.about .skill .box .progress{
    padding: 1rem 0;
}
.about .skill .box .progress h3{
    font-size: 2rem;
    color: var(--blanco);
    display: flex;
    justify-content: space-between;
}
.about .skill .box .progress h3 span{
    color: var(--verde);
}
.about .skill .box .progress .bar{
    height: 2rem;
    border: .2rem solid var(--blanco);
    border-radius: 5rem;
    padding: .5rem;
    margin-top: 1rem;
}
.about .skill .box .progress .bar span{
    display: block;
    background: var(--verde);
    height: 100%;
    border-radius: 5rem;
    width: 95%;
}
.about .skill .box .progress.progress-2 .bar span{
    width: 80%;
}
.about .skill .box .progress.progress-3 .bar span{
    width: 75%;
}
.about .skill .box .progress.progress-4 .bar span{
    width: 85%;
}
.about .skill .box .progress.progress-5 .bar span{
    width: 60%;
}
.about .skill .box .progress.progress-6 .bar span{
    width: 85%;
}
.about .skill .box .progress.progress-7 .bar span{
    width: 90%;
}
.about .skill .box .progress.progress-8 .bar span{
    width: 80%;
}
.about .info-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;
}
.about .info-container .info{
    flex: 1 1 30rem;
}
.about .info-container .image{
    flex: 1 1 30rem;
}
.about .info-container .image img{
    width: 100%;
}
.about .info-container .info:first-child{
    text-align: right;
}
.about .info-container .info p{
    text-transform: none;
    font-size: 2.5rem;
    color: var(--blanco);
    padding: 1rem 0;
}
.about .info-container .info p span{
    color: var(--verde);
}
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.services .box-container .box{
    padding: 3rem 2rem;
    border: var(--borde);
    border-radius: .5rem;
    background: var(--negro);
    text-align: center;
}
.services .box-container .box img{
    height: 10rem;
    margin-bottom: 1rem;
}
.services .box-container .box h3{
    color: var(--verde);
    font-size: 2.5rem;
}
.services .box-container .box p{
    color: var(--blanco);
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
}
.projects{
    background: var(--negro);
}
.projects .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}
.projects .box-container .box{
    overflow: hidden;
    position: relative;
    border-radius: .5rem;
}
.projects .box-container .box img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
    padding-bottom: 8rem;
}
.projects .box-container .box .content{
    position: absolute;
    bottom: 0; left: 0;
    height: 100%;
    width: 100%;
    background: var(--blanco);
    text-align: center;
    padding: 1rem 2rem;
    transition: .2s linear;
    transform: translateY(calc(100% - 8.5rem));
}
.projects .box-container .box .content i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    border: var(--borde);
    font-size: 2rem;
    color: var(--verde);
    margin-bottom: 1rem;
}
.projects .box-container .box .content h3{
    font-size: 2rem;
}
.projects .box-container .box .content p{
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
}
.projects .box-container .box:hover img{
    padding-bottom: 0;
    height: 25rem;
}
.projects .box-container .box:hover .content{
    transform: translateY(0);
    padding: 3rem 2rem;
}
.contact{
    background: linear-gradient(var(--negro), var(--verde));
}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    background: var(--blanco);
    border: var(--borde);
    padding: 2rem;
    border-radius: .5rem;
}
.contact form .box{
    width: 100%;
    margin: .7rem 0;
    padding: 1.2rem 1.4rem;
    text-transform: none;
    font-size: 2rem;
    border: var(--borde);
    border-radius: .5rem;
}
.contact form .box::placeholder{
    text-transform: capitalize;
}
.contact form .box:focus{
    background-color: var(--negro);
    color: var(--blanco);
    border-color: var(--verde);
}
.contact form textarea{
    resize: none;
    height: 20rem;
}
.footer{
    text-align: center;
    background: linear-gradient(var(--verde), var(--negro));
}
.footer .share a{
    height: 7rem;
    width: 7rem;
    line-height: 6.7rem;
    font-size: 3rem;
    border: var(--borde);
    color: var(--blanco);
    border-radius: .5rem;
    margin: 0 1rem;
    transition: .5s linear;
}
.footer .share a:nth-child(1){
    background: #3b5998;
}
.footer .share a:nth-child(2){
    background: linear-gradient(222deg, rgba(255,248,0,1) 25%, rgba(255,0,78,1) 50%, rgba(154,0,255,1) 75%);
}
.footer .share a:nth-child(3){
    background: #00ffff;
}
.footer .share a:nth-child(4){
    background: var(--negro);
}
.footer .share a:hover{
    transform: rotate(25deg);
}
.footer .credit{
    margin: 1rem 0;
    margin-top: 2rem;
    font-size: 2.5rem;
}
.footer .credit span{
    background: linear-gradient(180deg, #1d00ff 30%, #ff0014);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
@media (max-width: 1200px){
    .header{
        padding: 1.5rem 5%;
    }
    section{
        padding: 3rem 5%;
    }
}
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 768px){
    *{
        cursor: default;
    }
    section{
        padding: 3rem 2rem;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    .cursor{
        display: none;
    }
    .heading{
        font-size: 10vw;
    }
    .navbar{
        width: 100%;
        z-index: 1200;
        background: none;
    }
    .navbar a{
        background: var(--blanco);
        font-size: 4rem;
        transform: scale(.9);
        color: var(--negro);
        padding: .5rem 2rem;
        border: var(--borde);
    }
    .navbar-img{
        width: 100%;
    }
    .home h3{
        font-size: 10vw;
    }
    .home .home-img{
        height: 20rem;
        width: 20rem;
        transform: translate(-50%, -100%) scale(0);
    }
    .home .home-text:hover ~ .home-img{
        transform: translate(-50%, -100%) scale(1);
    }
    .about .info-container .image{
        order: -1;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}